<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button ng-click="isCollapsed = !isCollapsed" data-target="#bs-example-navbar-collapse-3" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand visible-xs">PedroWeb</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a class="navbar-brand" role="button" href="#top">
                        PedroWeb
                    </a>
                    <li class="" ng-class="{'active': $root.activeMenu == 'home'}">
                        <a href="#/home">
                            Home
                        </a>
                    </li>
                    <li class="" ng-class="{'active': $root.activeMenu == 'roleta'}">
                        <a href="#/roleta">
                            Roleta
                        </a>
                    </li>
                </ul>
            </nav>
            <nav collapse="!isCollapsed" class="visible-xs collapse" style="height: 0px;">
                <ul class="nav navbar-nav">
                    <li>
                        <a ng-click="isCollapsed = !isCollapsed" href="#/home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a ng-click="isCollapsed = !isCollapsed" href="#/roleta">
                            Roleta
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="header-placeholder"></div>