<div class="row">
    <div class="col-sm-12">
        <h2>Roleta para {{roleta}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <blockquote>
            <em>FICOU UMA BOSTA</em>
            <footer>Logo após ver atualização do bot</footer>
        </blockquote>
        <blockquote>
            <em>CONSERTA</em>
        </blockquote>        
        <blockquote>
            <em>ESPERO QUE MORRA</em>
            <footer>Sobre alguém</footer>
        </blockquote>                
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <a href="#/roleta" class="btn btn-default">Voltar</a>
    </div>
</div>