<div class="row">
    <div class="col-sm-12">
        <h2>Adicionar frase para {{frase.roleta}}</h2>
    </div>
</div>

<div class="row">

    <form novalidate name="frmFrase" ng-submit="SalvarFrase(frmFrase, frase);">
        <div class="form-group col-sm-12">
            <label>Frase*</label>
            <input type="text" class="form-control" ng-required="true" ng-model="frase.texto">
        </div>
        <div class="form-group col-sm-12">
            <label>Contexto</label>
            <input type="text" class="form-control" ng-model="frase.contexto">
        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="#/roleta" class="btn btn-default">Voltar</a>
        </div>
    </form>

</div>